/* ------------css demo-------------- */


/*  ---------------Box Sizing-----------------  */

/*------- Color Scheme------
Main Color - #212EF5
Secondary - #4A4D75
*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  body{
    font-family: "Didact Gothic", sans-serif;
    
    margin:0;
  }

  main{}
  
  
  


  header.primary{
    background-color: #212EF5;
    color: #ffffff;
    text-shadow:1px 1px #000000
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding: 40px;
    padding: 20px 40px 20px 40px;
    padding: 20px 40px;

    margin:0;
  }

header.primary h1{
  background: pink;
  font-size: 2.4rem;
  margin: 20px 0 0 ;
}

header.primary h1 a{
  color: #000000;
  text-decoration: none;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;

}

header.primary nav{}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 10px 0;
}
header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a{
  color: #ffffff;
  text-decoration:none;
  border:1px solid #4A4D75;
  padding: 7.5px 10px;
  background-color: rgba(0,0,0, .4);
  border-radius:20px;
  transition:.10s;
}

header.primary nav ul li a:hover{
  background-color: rgba(0,0,0,.8);
}






body{
    background-color:aquamarine;
}

/*----------------Media Queries --------------*/
@media screen and (max-width: 560px){
  header.primary nav ul{

    flex-direction:column;
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;
  }
  header.primary nav a{
    display:block;
  }
}