/* ------------css demo-------------- */


/*  ---------------Box Sizing-----------------  */

/*------- Color Scheme------
Main Color - #212EF5
Secondary - #4A4D75
#549F93
#258EA6
#9FAF90
*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*-------Responsive Images---------*/

  img{
    max-width: 100%;
  }
  /* ------Utility Classes--------- */
.container{
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}
img-right{
  float:right;
  border: 2px solid #000000;
  padding:5px;
  margin: 10px 0 10px 20px;
}
img-left{
  float:left;
  border: 2px solid #000000;
  padding:5px;
  margin: 10px 20px 10px 0px;
  
  .img-center{
    display:block;
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 5px;
    border-radius:40px;
  }
}
  /*-----Global Styles--------*/
  body{
    font-family: "Didact Gothic", sans-serif;
    
    margin:0;
  }

  main{}
  
  
  


  header.primary{
    background-color:#4A4D75;
    
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #000000;
    text-shadow:20px 20px #000000
    /*--------Long Form
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    -------*/
    padding: 40px;
    padding: 20px 40px 20px 40px;
    padding: 20px 40px;
  }

header.primary h1{
  background:#4A4D75 ;
  font-size: 2.4rem;
  margin: 20px 0 0 ;
}

header.primary h1 a{
  color: #000000;
  text-decoration: none;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;

}

header.primary nav{}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 10px 0;
  margin:auto;
}

header.primary nav ul li{
  list-style-type:none;
}
header.primary nav ul li a{
  color: #ffffff;
  text-decoration:none;
  border:1px solid #4A4D75;
  padding: 7.5px 10px;
  background-color: rgba(0,0,0, .4);
  border-radius:20px;
  transition:.10s;
}

header.primary nav ul li a:hover{
  background-color: rgba(0,0,0,.8);
}

#content{
  line-height: 1.4;
}
#content h2{
  color: #000000;
  border-bottom: 1px dotted #4A4D75;
}

#blog{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  gap:2rem;
  border-top: 1px solid #000000
  border-bottom: 1px solid #000000;
  padding: 20px 0 0 0;
}

#blog article.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 10px;
  border-radius: 4px;
  font-size: .8rem;
  transition:.4s;
}
#blog article.post:hover {
  box-shadow: 0 8px 16px rgba(1, 0, 0, 0);
 
}
#blog figure{
  margin:0;
}
#blog figcaption{
  text-transform: lowercase;
  color: red;
}
#blog .post a{
  color: rgb(255, 0, 0); 
}
#practice h2{
  color: black;
  border-bottom: 1px dotted #000000;
}
#practice a{
  color:#4A4D75;
}
#practice a:hover{
  text-decoration:none;
}
#practice h3{
  border-left: 7.55px solid #4A4D75;
  color: black;
  padding: 5px 0 5px 10px;
}


table{
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
}
caption{
  font-weight:bold;
  margin:10px;
  font-size:1.5rem;
}
thead{}
tr:nth-child(even){
  background-color:rgba(0,0,0,0.1);
}
td:nth-child(2),td:nth-child(3){
  text-align:right;
}
#practice ol{
  list-style-type: lower-roman;
}

#practice ul li ul{
  list-style-type:square;
}
tr:hover{
  background-color:rgba(0,0,0,0.1);
}
th{background-color: yellow;;
color:#000000;
padding: 5px;
}

td{
  border: 1px solid #000000;;
  padding:5px;
}
#practice dl dt{
  font-weight:bold;
}
dl dd{
  margin:0;
  color: black; 
}

dd+dt{
  margin-bottom:10px;
  color:rgb(255, 0, 0);
}
#practice blockquote{
  border:4px double #549F93;
  padding:20px 40px;
  margin: 40px 80px;
  border-radius: 30px 0;
  background-color:midnightblue;
  color:#000000;
  line-height: 1.4;
  text-shadow: 1px 1px #000;
}
#practice blockquote cite{
  dispaly:block;
  text-align: right;
  font-size: 0.7rem;
  margin-top: 1rem;
}
aside[role = "complementary"]{
  background: #9FAF90;
  padding: 40px 0;

}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  gap:40px;
  font-weight:bold;
  background-color: midnightblue;

}
aside article.widget a{
  color:#000000;
}
aside article.widget a:last-of-type{
  display:block;
  margin-top:20px;
  text-align:right;
}
aside article.widget footer{
  display:none;
}
#colophone{
  background-color:#5d549f;
  padding: 5px;
  color:#000000;
  font-size: 1.4rem;
  text-align:center;
}

body{
    background-color:#9FAF90;
}

/*----------------Media Queries --------------*/
@media screen and (max-width: 560px){
  header.primary nav ul{

    flex-direction:column;
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;
  }
  #blog{
  flex-direction:column;
  }
}